dagster
dagster-webserver
cloudscraper
beautifulsoup4
PyMuPDF
python-docx
python-pptx
chromadb
langchain
langchain-chroma
langchain-ollama
langchain-community
sentence-transformers
ollama
pandas
python-dotenv
gradio
matplotlib
langgraph
